.container{
 
}
.jumbotron{
  display: block;
  height: 150px;
  text-align: center; 
  background-image: url("https://rayandmave.files.wordpress.com/2015/09/rain.gif");
}
img.center {
  width: 1500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


