html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-size: 100%;
    
    
    


}

body{
    background: linear-gradient(violet, white);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    width: 75%;

    }

nav {
                padding-left: 15%;
                padding-right: 10%;
                height: 40px;
                background: -webkit-linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);
                background: -o-linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);
                background: linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);black
                border-radius: 6px !important;
                -moz-border-radius: 6px !important;
            }

        .nav a{
            color: white !important;
            font-size: 1.6em !important;

        }
nav li{
    height: 40px;
padding-right:5px;
border: 0px;
width:auto;
margin:0px;
padding-top: 0px;
box-shadow: none;
background: none;

}
nav ul{
    display:inline-block;
}

    
 }
.button {
    display:block ;
    
    height: 70px;
    width: 300px;
    margin: 0 auto;
    background: #35696f;
    border: 2px solid rgba(33, 68, 72, 0.59);
    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font: bold 50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    border-radius: 50px;
    box-shadow: 0 8px 0 #1b383b;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
    
}
a.button {
    text-decoration: none;
}
a.button:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}
.jumbotron{
  
  height: 100px;
 
  text-align: center; 
  background-image: url("https://rayandmave.files.wordpress.com/2015/09/rain.gif")
    
}
table {
    width: 100%;
}
.media-object{
    widt: 45%;
    display: block;
    margin-left: auto;
    margin-right:auto;
}
img.displayed{

}

p {
    line-height: 18px;
    height: 54px;
    overflow: hidden;
}

#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

ul{
    white-space: nowrap
}

li {
    width: 300px;
    height: 350px;
    background: white;
    display:inline-block;
    vertical-align:middle;
    text-align:center;
    font-family:Arial,sans-serif;
    font-weight:bold;
    border:1px inset gray;
    margin-right: 5px;
    margin: 10px;
    padding-top: 5px;
    box-shadow: 10px 10px grey    
}


@media screen and (max-width:51em) {
    .outermost {min-width:auto;}
    .outerwrap {padding-top:0;}
    .wrapper {position:static;}
    ul {display:block;}
    li {
        display:block;
        text-align: center;
        padding:.5em;

    }
    
    
    
}




h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
}
.wrapper { margin-right: auto; margin-left: auto; width:75% ;}
.description{
    padding: 0.5em;
    position:relative;
    overflow: hidden;
}

.wrapper:hover > ul > li{
    opacity:0.4;
}
 .wrapper > ul > li:hover{
    opacity: 1.0;
 }
 .outermost{
  
    padding-top: 40px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
 }


